body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #f1f1f1;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


th {
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    text-align: left;
}

td {
    padding: 10px 15px;
    text-align: left;
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}

tbody {
    font-size: 14px;
    color: #555;
    
}


@media (max-width: 768px) {
    table {
        width: 95%;
    }

    input[type="file"] {
        width: 100%;
    }
}
td{
    padding-left: 5%;
    text-align: center;
}
